<title>CG - Scoreboard</title>

<div class="score-per-task-panel">
  <h2>Score per task</h2>

  <div class="task-container">
    <h3>Task 1</h3>
    <div *ngFor="let team of teams | orderBy:'task1length': 'asc'">
      {{ team.name }} : {{ team.task1length }}
    </div>
  </div>

  <div class="task-container">
    <h3>Task 2</h3>
    <div *ngFor="let team of teams | orderBy:'task2length': 'asc'">
      {{ team.name }} : {{ team.task2length }}
    </div>
  </div>

  <div class="task-container">
    <h3>Task 3</h3>
    <div *ngFor="let team of teams | orderBy:'task3length': 'asc'">
      {{ team.name }} : {{ team.task3length }}
    </div>
  </div>

  <div class="task-container">
    <h3>Task 4</h3>
    <div *ngFor="let team of teams | orderBy:'task4length': 'asc'">
      {{ team.name }} : {{ team.task4length }}
    </div>
  </div>

  <div class="task-container">
    <h3>Task 5</h3>
    <div *ngFor="let team of teams | orderBy:'task5length': 'asc'">
      {{ team.name }} : {{ team.task5length }}
    </div>
  </div>

  <div class="task-container">
    <h3>Task 6</h3>
    <div *ngFor="let team of teams | orderBy:'task6length': 'asc'">
      {{ team.name }} : {{ team.task6length }}
    </div>
  </div>

  <div class="task-container">
    <h3>Task 7</h3>
    <div *ngFor="let team of teams | orderBy:'task7length': 'asc'">
      {{ team.name }} : {{ team.task7length }}
    </div>
  </div>
</div>

<div *ngIf="!!scores" class="score-per-team">
  <h2>Scoreboard</h2>
  <div *ngFor="let score of scores | orderBy:'score': 'desc'">
    {{ score.name }} : {{ score.score }}
  </div>
</div>
