<title>CG - Scoreboard</title>

<div class="score-per-task-panel">
  <h2>Score per oppgave</h2>

  <div class="task-container">
    <h3>Oppgave 1</h3>
    <table>
      <tr>
        <th>Fasit</th>
        <th>Lengde</th>
      </tr>
      <tr class="fasit" *ngFor="let fasit of fasits | orderBy:'task1length': 'asc'">
        <td>{{ fasit.name }}</td>
        <td>{{ fasit.task1length }}</td>
      </tr>
      <tr>
        <th>Lag</th>
        <th>Lengde</th>
      </tr>
      <tr [ngClass]="getClass(team, 1)" *ngFor="let team of teams | orderBy:'task1length': 'asc'">
        <td>{{ team.name }}</td>
        <td>{{ team.task1length }}</td>
      </tr>
    </table>
  </div>

  <div class="task-container">
    <h3>Oppgave 2</h3>
    <table>
      <tr>
        <th>Fasit</th>
        <th>Lengde</th>
      </tr>
      <tr class="fasit" *ngFor="let fasit of fasits | orderBy:'task2length': 'asc'">
        <td>{{ fasit.name }}</td>
        <td>{{ fasit.task2length }}</td>
      </tr>
      <tr>
        <th>Lag</th>
        <th>Lengde</th>
      </tr>
      <tr [ngClass]="getClass(team, 2)" *ngFor="let team of teams | orderBy:'task2length': 'asc'">
        <td>{{ team.name }}</td>
        <td>{{ team.task2length }}</td>
      </tr>
    </table>
  </div>

  <div class="task-container">
    <h3>Oppgave 3</h3>
    <table>
      <tr>
        <th>Fasit</th>
        <th>Lengde</th>
      </tr>
      <tr class="fasit" *ngFor="let fasit of fasits | orderBy:'task3length': 'asc'">
        <td>{{ fasit.name }}</td>
        <td>{{ fasit.task3length }}</td>
      </tr>
      <tr>
        <th>Lag</th>
        <th>Lengde</th>
      </tr>
      <tr [ngClass]="getClass(team, 3)" *ngFor="let team of teams | orderBy:'task3length': 'asc'">
        <td>{{ team.name }}</td>
        <td>{{ team.task3length }}</td>
      </tr>
    </table>
  </div>

  <div class="task-container">
    <h3>Oppgave 4</h3>
    <table>
      <tr>
        <th>Fasit</th>
        <th>Lengde</th>
      </tr>
      <tr class="fasit" *ngFor="let fasit of fasits | orderBy:'task4length': 'asc'">
        <td>{{ fasit.name }}</td>
        <td>{{ fasit.task4length }}</td>
      </tr>
      <tr>
        <th>Lag</th>
        <th>Lengde</th>
      </tr>
      <tr [ngClass]="getClass(team, 4)" *ngFor="let team of teams | orderBy:'task4length': 'asc'">
        <td>{{ team.name }}</td>
        <td>{{ team.task4length }}</td>
      </tr>
    </table>
  </div>

  <div class="task-container">
    <h3>Oppgave 5</h3>
    <table>
      <tr>
        <th>Fasit</th>
        <th>Lengde</th>
      </tr>
      <tr class="fasit" *ngFor="let fasit of fasits | orderBy:'task5length': 'asc'">
        <td>{{ fasit.name }}</td>
        <td>{{ fasit.task5length }}</td>
      </tr>
      <tr>
        <th>Lag</th>
        <th>Lengde</th>
      </tr>
      <tr [ngClass]="getClass(team, 5)" *ngFor="let team of teams | orderBy:'task5length': 'asc'">
        <td>{{ team.name }}</td>
        <td>{{ team.task5length }}</td>
      </tr>
    </table>
  </div>

  <div class="task-container">
    <h3>Oppgave 6</h3>
    <table>
      <tr>
        <th>Fasit</th>
        <th>Lengde</th>
      </tr>
      <tr class="fasit" *ngFor="let fasit of fasits | orderBy:'task6length': 'asc'">
        <td>{{ fasit.name }}</td>
        <td>{{ fasit.task6length }}</td>
      </tr>
      <tr>
        <th>Lag</th>
        <th>Lengde</th>
      </tr>
      <tr [ngClass]="getClass(team, 6)" *ngFor="let team of teams | orderBy:'task6length': 'asc'">
        <td>{{ team.name }}</td>
        <td>{{ team.task6length }}</td>
      </tr>
    </table>
  </div>

  <div class="task-container">
    <h3>Oppgave 7</h3>
    <table>
      <tr>
        <th>Fasit</th>
        <th>Lengde</th>
      </tr>
      <tr class="fasit" *ngFor="let fasit of fasits | orderBy:'task7length': 'asc'">
        <td>{{ fasit.name }}</td>
        <td>{{ fasit.task7length }}</td>
      </tr>
      <tr>
        <th>Lag</th>
        <th>Lengde</th>
      </tr>
      <tr [ngClass]="getClass(team, 7)" *ngFor="let team of teams | orderBy:'task7length': 'asc'">
        <td>{{ team.name }}</td>
        <td>{{ team.task7length }}</td>
      </tr>
    </table>
  </div>
</div>

<div *ngIf="!!scores" class="score-per-team">
  <h2>Scoreboard</h2>
  <table>
    <tr>
      <th>Lag</th>
      <th>Poeng</th>
    </tr>
    <tr [ngClass]="scoreClass(score)" *ngFor="let score of scores | orderBy:'score': 'desc'">
      <td>{{ score.name }}</td>
      <td>{{ score.score }}</td>
    </tr>
  </table>
</div>